cpp-platform-simulators-test/src/test/resources/wsdl/DARTSService/ContextRegistryService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions xmlns:tns="http://services.rt.fs.documentum.emc.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services.rt.fs.documentum.emc.com/"
             name="ContextRegistryService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rt.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=1"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://schema.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=2"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://query.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=3"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://properties.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=4"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://profiles.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=5"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=6"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://context.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=7"></xsd:import>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://content.core.datamodel.fs.documentum.emc.com/"
                        schemaLocation="http://${host}:${port}/service/darts/runtime/ContextRegistryService?xsd=8"></xsd:import>
        </xsd:schema>
    </types>
    <message name="register">
        <part name="parameters" element="tns:register"></part>
    </message>
    <message name="registerResponse">
        <part name="parameters" element="tns:registerResponse"></part>
    </message>
    <message name="lookup">
        <part name="parameters" element="tns:lookup"></part>
    </message>
    <message name="lookupResponse">
        <part name="parameters" element="tns:lookupResponse"></part>
    </message>
    <message name="unregister">
        <part name="parameters" element="tns:unregister"></part>
    </message>
    <message name="unregisterResponse">
        <part name="parameters" element="tns:unregisterResponse"></part>
    </message>
    <portType name="ContextRegistryServicePort">
        <operation name="register">
            <input message="tns:register"></input>
            <output message="tns:registerResponse"></output>
        </operation>
        <operation name="lookup">
            <input message="tns:lookup"></input>
            <output message="tns:lookupResponse"></output>
        </operation>
        <operation name="unregister">
            <input message="tns:unregister"></input>
            <output message="tns:unregisterResponse"></output>
        </operation>
    </portType>
    <binding name="ContextRegistryServicePortBinding" type="tns:ContextRegistryServicePort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"></soap:binding>
        <operation name="register">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="lookup">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="unregister">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="ContextRegistryService">
        <port name="ContextRegistryServicePort" binding="tns:ContextRegistryServicePortBinding">
            <soap:address
                    location="http://${host}:${port}/service/darts/runtime/ContextRegistryService"></soap:address>
        </port>
    </service>
</definitions>